.nomad-root {
    margin: 0 0 112px;
    .nomad-wrapper  {
        max-width: 1568px;
        margin: 0 auto;
        padding: 0 64px;
    }
}

.nomad-content-container {
    padding: 32px 0;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    .nomad-left-block {
        width: 16.5%;
        display: flex;
        flex-direction: column;
        span {
            font-size: 14px;
            color: #000;
        }
        p {
            color: #888;
            font-size: 14px;
            // width: 70%;
            padding: 0 32px 0 0;
        }
       
    }
    .nomad-right-block {
        width: 83.5%;
        p {
            font-size: 18px;
            line-height: 24px;
            margin: 24px 0 0 ;
            &:first-child {
                margin: 0;
            }
        }
        .img-block {
            display: flex;
            margin: 24px 0;
            .img-item {
                picture {
                    display: flex;
                }
                margin: 0 0 0 24px;
                &:first-child {
                    margin: 0;
                }
            }
        }
    }
    &:first-child {
        padding: 48px 0 32px;
    }
    &:last-child {
        border-bottom: none;
        padding: 32px 0 0;
    }
}

